.landing {
    &__introText {
        margin: auto;
        width: 60%;
        text-align: center;
    }
    section {
        > h2 {
            margin-bottom: 2rem;
        }
    }
}

@media(max-width : 991px) {
    .landing {
        &__introText {
            width: 100%;
        }
    }
}