.blog {
    border-bottom: 1px dotted var(--main-color);
    padding: 10px;
    transition: 0.4s;

    h1 {
        margin: 2px;
    }
    p {
        margin: 0;
        text-indent: 1em;
    }
    &:hover {
        h1 {
            color: var(--secondary-color);
        }
    }
}

.blogList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    &.recommendedBloglist {
        flex-direction: row;
        .blogCard {
            height: 300px;
            &__imgWrapper {
                flex: 1;
            }
            h2 {
                font-size: x-large;
            }
        }
    }
}

@media(max-width: 991px) {
.blogList{
    &.recommendedBloglist {
        a {
            width: 100%;
        }
    }
}
}